{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "explicitTypes": "always"
      }
    }
  ],
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "arrowParens": "always",
  "bracketSpacing": true
}
